table {
  font-family: arial, sans-serif;
   border-collapse: collapse; 
  width: 40%;
}

td, th {
  border: 1px solid #332d2d;
  text-align: left;
  padding: 8px;
  
}


#first
{
  background-color: blueviolet;
}
#second 
{
  background-color: burlywood;
}

tr:nth-child(even)
{
  background-color: blueviolet;
}

tr:nth-child(even):hover
{
  background-color: rgb(2, 58, 0);
}
.submit-button {
 background-color: #3498db;
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s ease;
}