body
{
    margin:0;
    padding:0;
    background-color: rgb(185, 185, 185);
    
}
.navbar
{
    height: 65px;
    padding: 10px;
    background-color:black;
    position:sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    vertical-align: middle;   
    margin-bottom: 7px;

}
h1
{
    color:aliceblue;
}
.content
{
margin-right:10px;
position: relative;
  }
.navbar .content a{
    text-decoration: none;
    font-size: 25px;
    color: white;
    padding: 4px;
  }
  .content form input
  {
    margin-bottom: 10px;
    margin-left: 4px;
    border-radius: 20px;
    height: 50px;
    padding: 3px;
    border: none;
    position: absolute;
    bottom: 0;
    left: 100%;
}
.services_drop
{
position: relative;
display: inline-block;
}
.services_button
{
    background-color: black;
    color: white;
    padding: 20px;
    font-size: 25px;
    border: none;
}
.services_content
{
    display: none;
    position: absolute;
    width: 300px;
}
.services_content a
{
    background-color: black;
    text-decoration: none;
    display: block;
    padding: 20px;
}
.services_content a:hover
{
    background-color:rgb(16, 0, 117);
}
.services_drop:hover .services_content
{
    display: block;
}
.services_button:hover
{
    color: rgb(124, 124, 124);
 }
input
{
    height: 40px;
    padding:5px;
  border-radius: 9px;
 
}
.staff
{
box-shadow:-10px -10px  7px rgb(252, 214, 214);
background-color: rgb(134, 134, 134);
margin-left: 5px;
padding-left: 5px;
padding-top: 2px;

}
.staff .worker1,.staff .worker2
{
   display: inline-block;
   width:40%;
 
justify-content: center;

}
img
{
border-radius: 100px;
height: 300px;

}
.worker1 h4,.worker1 p
{
margin-left: 60px;
}
.worker2 h4,.worker2 p
{
    margin-left: 70px;
}
.box
{
    margin: 9px;
    border:1px solid yellow;
    padding-left:20px;
}